@import 'tailwindcss';

@theme {
  --color-primary: #ff919f;
  --color-secondary: #4d4c5c;
  --color-surface-900: #111111;
  --color-surface-hover: rgba(79, 79, 79, 0.171);

  --color-surface-hover-900: #3a3a3a;

  --font-figtree: 'Figtree', sans-serif;
}

@font-face {
  font-family: 'Figtree';
  src: url('/assets/fonts/Figtree-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Figtree';
  src: url('/assets/fonts/Figtree-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: light;
}

@font-face {
  font-family: 'Figtree';
  src: url('/assets/fonts/Figtree-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Figtree';
  src: url('/assets/fonts/Figtree-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Figtree';
  src: url('/assets/fonts/Figtree-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Figtree';
  src: url('/assets/fonts/Figtree-Italic.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
}

@layer base {
  html {
    overscroll-behavior-y: none;
  }
  body {
    font-family: var(--font-figtree);
    min-height: 100vh;
    min-height: 100dvh;
  }
}

@layer components {
  .btn {
    @apply inline-flex items-center justify-center gap-2 cursor-pointer font-medium rounded-lg text-base;
  }
  .btn-outline {
    @apply border-2 border-black px-4 py-2 transition-colors duration-200 hover:bg-surface-hover;
  }

  .btn-accent {
    @apply bg-surface-900 text-white shadow-md w-fit py-4 px-12 font-bold transition-colors duration-200 hover:bg-surface-hover-900;
  }

  .line-separator {
    @apply relative after:content-[''] after:absolute after:bottom-0 after:left-[2.5%] after:w-[95%] after:border-b-2 after:border-surface-hover;
  }

  .learning-card {
    @apply bg-primary justify-start ps-8 flex-center rounded-md py-6 gap-4 shadow-md cursor-pointer transition-opacity duration-200 hover:opacity-90;
  }

  .statement-container {
    @apply flex flex-col md:gap-10 gap-5;
  }
}

@utility flex-center {
  @apply flex justify-center items-center;
}
